body {
    margin: 20px;
}
a {
    cursor: pointer;
}

.unavailable {
    color: dimgrey;
}

.available {
    fill: blue;
    stroke: none;
}

.unavailable {
    fill: grey;
    stroke: grey;
}

.selected {
    fill: green;
}

.seat {
    cursor: pointer;
}

.price {
  display: none;
  position: absolute;
  right: -10px;
  bottom: 0px;
  border: 1px solid black;
  border-radius: 6px;
  background: black;
  color: white;
  padding: 2px;
}

.seat-row span {
  position: relative;
}

svg:hover + .price {
  display: inline;
}

.buy-now {
    margin-top: 5px;
}

.seat-row {
    border: 1px solid #AAA;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    margin: 0;
    box-shadow: 0;
}

.seat-row:hover {
  --webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 5px;
  box-shadow: 5px 5px 5px #AAA;
}

.row-name {
    float: right;
}

.row-name, .main-stage {
    color: dimgrey;
    font-weight: bold;
}

.main-stage {
    text-align: center;
}

progress {
    border-radius: 9px;
}

progress[value] {
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;
}

progress[value]::-webkit-progress-bar {
    border-radius: 9px;
}

progress[value]::-webkit-progress-value {
    border-radius: 9px;
}
